:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Fraunces", serif;

  --weight-medium: 500;
  --weight-bold: 700;

  --background: hsl(30, 38%, 92%);

  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);

  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  display: flex;
  font-family: var(--font-primary);
  font-weight: var(--weight-medium);
  background: var(--color-cream);
  height: 100vh;
  padding: 1rem;
}

h1 {
  font-family: var(--font-secondary);
  font-weight: var(--weight-bold);
}

p {
  font-family: var(--font-primary);
  font-weight: var(--weight-medium);
  font-size: 14px;
  color: var(--color-grey);
}

.spaced-letters {
  letter-spacing: 5px;
}

.spaced-lines {
  line-height: 1.5;
}

#principal-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 1rem;
  background: var(--color-white);
  overflow: hidden;
}

#secondary-section {
  display: flex;
  /* flex: 1 1 0%; */
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

#img-product-desktop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

#img-product-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

#newPrice {
  font-family: var(--font-secondary);
  font-weight: var(--weight-bold);
  color: var(--color-green-500);
}

#oldPrice {
  font-family: var(--font-primary);
  font-weight: var(--weight-medium);
  text-decoration: line-through;
}

button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  color: var(--color-white);
  background: var(--color-green-500);
  font-family: var(--font-primary);
  align-items: center;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 14px;
}

@media (min-width: 376px) {
  #img-product-mobile {
    display: none;
  }

  #img-product-desktop {
    display: block;
  }

  #img-container {
    width: 50%;
  }

  #principal-section {
    flex-direction: row;
    width: 50%;
    height: 50%;
  }

  #secondary-section {
    width: 50%;
  }
}
